// Styling for about section

.about {
	height: 80vh;
	background-color: $light-color;
	color: $dark-color;

	&__heading {
		height: 15vh;
		@include flexCenter;
	}

	&__heading h2 {
		font-size: 3rem;
	}

	&__cards {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin: 0 5rem;
		gap: 2rem;
	}

	&__cards__left {
		@include flexCenterXY;
		gap: 1rem;
	}

	&__btn {
		border: none;
		margin-top: 2rem;
	}

	&__link {
		@include secondary-btn;
		border: none;
		background: linear-gradient(to right, $dark-color 50%, $accent-color 50%);
		background-size: 200% 100%;
		background-position: right bottom;
		text-decoration: none;
		font-size: 1.2rem;
	}

	&__link:hover {
		background-position: left;
		transition: all 1s ease;
		transform: scale(1.1);
	}

	&__cards__right {
		@include flexCenterXY;
	}

	&__img {
		aspect-ratio: 1;
		width: 70%;
		box-shadow: 5px 5px 30px $dark-color;
	}
}

@media screen and (max-width: 950px) {
	.about {
		height: 90vh;

		&__cards {
			margin-top: 3rem;
		}

		&__img {
			width: 100%;
		}
	}
}

@media screen and (max-width: 815px) {
	.about {
		height: 120vh;

		&__cards {
			grid-template-columns: 1fr;
			margin: 0rem 1.5rem;
		}
	}
}

@media screen and (max-width: 500px) {
	.about {
		height: 150vh;
	}
}

@media screen and (max-width: 400px) {
	.about {
		height: 150vh;
	}
}

@media screen and (max-height: 800px) {
	.about {
		height: 100vh;
	}
}
