.about {
	height: 100vh;
	background-color: $light-color;
	color: $dark-color;
	@media screen and (max-width: 768px) {
		height: 160vh;
	}
	// iPhone SE
	@media screen and (max-height: 700px) {
		height: 200vh;
	}
	// iPads
	@media screen and (min-height: 1200px) {
		height: 120vh;
	}

	&__heading {
		height: 20vh;
		@include flexCenter;
		align-items: center;
	}

	&__heading h2 {
		font-size: 4rem;
	}
}

.about__cards {
	height: 80vh;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(7, 1fr);

	&__description--left {
		grid-column: 2 / 4;
		grid-row: 1 / 4;
		@include flexCenter;
		@include flexColumn;
	}

	&__description--right {
		grid-column: 4 / 6;
		grid-row: 4 / 7;
		@include flexCenterXY;
	}

	&__heading {
		font-size: 2rem;
	}

	&__content {
		padding-top: 1rem;
	}

	&__img--left {
		grid-column: 2 / 4;
		grid-row: 4 / 7;
	}

	&__img--right {
		grid-column: 4 / 6;
		grid-row: 1 / 4;
	}

	&__img img {
		object-fit: contain;
		height: 100%;
		width: 100%;
	}

	.about__btn {
		@include secondary-btn;
		margin-top: 3rem;
		text-decoration: none;
		background: linear-gradient(to right, $dark-color 50%, $accent-color 50%);
		background-size: 200% 100%;
		background-position: right bottom;
	}

	.about__btn:hover {
		background-position: left;
		transition: all 1s ease;
		transform: scale(1.1);
	}
}

@media screen and (max-width: 768px) {
	.about__container {
		height: 90%;
	}
	.about__heading h2 {
		font-size: 2.5rem;
	}
	.about__cards {
		height: 90%;
		gap: 1rem;
	}

	.about__heading {
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 660px) {
	.about__cards {
		@include flexCenterXY;
		padding: 0 2rem;
	}

	.about__cards__img--right {
		display: none;
	}

	.about__cards__img--left {
		height: 30%;
		width: 100%;
	}
}

@media screen and (min-width: 1450px) {
	.about__container {
		height: 100%;
	}

	.about__cards {
		height: 100vh;
	}
}

@media screen and (min-height: 1150px) {
	.about__cards {
		height: 70vh;
	}

	.about__cards__heading {
		font-size: 3rem;
	}

	.about__cards__content {
		font-size: 1.5rem;
	}

	.about__btn {
		@include secondary-btn;
		font-size: 2rem;
	}
}
