// Sheet for variables, mixins and general styling

// color palette from https://coolors.co/palettes/trending

$light-color: #e3e0e1;
$dark-color: #252422;
$accent-color: #ee6c4d;

$gradient: -webkit-linear-gradient(left, #ee6c4d, #f83600);

// font-weights

$fw-400: 400;
$fw-600: 600;
$fw-700: 700;

/* mixins */

@mixin flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flexCenterY {
	display: flex;
	align-items: center;
}

@mixin flexCenterXY {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@mixin flexColumn {
	display: flex;
	flex-direction: column;
}

@mixin gridCenter {
	display: grid;
	justify-items: center;
	align-items: center;
}

@mixin primary-btn {
	color: $dark-color;
	border: 1px solid $dark-color;
	padding: 1rem 2rem;
	font-weight: $fw-600;
}

@mixin secondary-btn {
	background-color: $accent-color;
	color: $light-color;
	padding: 1rem 2rem;
	font-weight: $fw-600;
	border-radius: 5px;
}

/* general styling */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto Mono', monospace;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

span {
	font-size: 4rem;
}
