// Styling for footer section

.footer {
	background-color: white;
	height: 80vh;
	@include flexCenter;
	position: relative;
	@media screen and (max-width: 700px) {
		display: block;
		height: 150vh;
	}

	&__container {
		height: 50vh;
		background-color: $dark-color;
		display: flex;
		align-items: center;
		width: 100%;
	}

	&__content {
		width: 50%;
		@include flexCenterXY;
	}

	&__items {
		list-style: none;
	}

	&__items:hover {
		transform: scale(1.2);
	}

	&__links {
		text-decoration: none;
		font-size: 2.5rem;
		color: $light-color;
		@include flexCenter;
	}

	&__icons {
		font-size: 2.5rem;
		padding: 0 1rem;
	}

	&__icons a {
		text-decoration: none;
		color: $light-color;
	}

	&__icons a:hover {
		transform: scale(1.2);
	}

	&__card {
		position: absolute;
		z-index: 2;
		background-color: $light-color;
		box-shadow: 5px 5px 20px black;
		height: 65vh;
		width: 35vw;
		right: 10%;
	}

	&__form {
		height: 100%;
		width: 100%;
		@include flexColumn;
		justify-content: center;
		padding: 1rem;
	}

	&__form__heading {
		font-size: 2.5rem;
		color: $dark-color;
		margin: 1rem 0;
	}

	&__btn {
		@include secondary-btn;
		border: none;
		font-family: 'Roboto Mono', monospace;
		font-size: 1.1rem;
		margin: 1rem 0;
		cursor: pointer;
	}

	&__btn:hover {
		transform: scale(1.1);
		transition: 0.5s ease;
	}

	@media screen and (max-width: 950px) {
		&__card {
			width: 40vw;
		}
	}

	@media screen and (max-width: 768px) {
		&__links,
		&__icons {
			font-size: 2rem;
		}

		input,
		textarea {
			font-size: 1rem;
		}
	}

	@media screen and (max-width: 700px) {
		&__container {
			width: 100%;
			height: 50%;
		}

		&__content {
			@include flexCenterXY;
			width: 100%;
			height: 100%;
		}

		&__card {
			display: block;
			position: static;
			width: 100%;
			height: 50%;
		}

		&__links {
			padding: 1.5rem;
		}
	}

	.flex__center {
		@include flexCenter;
	}

	input,
	textarea {
		font-size: 1rem;
		margin: 1rem 0;
		padding: 0.5rem;
		background-color: $light-color;
		border: none;
		border-bottom: 2px solid black;
		font-family: 'Roboto Mono', monospace;
		font-size: 1.1rem;
	}
}
