// Styling for header section

.navbar {
	height: 10vh;
	&__container {
		width: 100%;
		@include flexCenterY;
		padding: 1rem 5rem;
		// margin: 0 auto;
		position: fixed;
		background-color: white;
		z-index: 99;
	}

	&__logo {
		width: 20vw;
		font-size: 3rem;
		background: $gradient;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		align-items: center;
	}

	&__items {
		width: 100%;
		height: 100%;
	}

	&__menu {
		display: flex;
		justify-content: flex-end;
		list-style: none;
	}

	&__menu__links {
		padding: 2rem;
		text-decoration: none;
		color: $dark-color;
	}

	&__menu__links:hover {
		transition: 0.5s ease;
		text-decoration: underline;
	}

	&__btn {
		display: none;
	}

	@media screen and (max-width: 768px) {
		&__container {
			justify-content: space-between;
			position: relative;
		}
		&__items {
			display: none;
		}

		&__btn {
			display: block;
			border: none;
			background: none;
			cursor: pointer;
			position: absolute;
			right: 5%;
		}

		&__items {
			display: flex;
		}

		&__menu {
			@include flexCenterXY;
			justify-content: space-evenly;
			background-color: white;
			position: absolute;
			width: 100%;
			top: 10vh;
			left: -100%;
			opacity: 0;
			transition: all 0.5s ease;
		}

		.hamburger {
			font-size: 3rem;
		}

		&__menu__links {
			color: $dark-color;
			font-size: 2rem;
			font-weight: $fw-700;
		}

		&__menu.active {
			left: 0;
			opacity: 1;
			transition: all 0.5s ease;
			height: 90vh;
		}
	}

	@media screen and (max-width: 450px) {
		&__container {
			padding: 1rem 2rem;
		}
		&__logo {
			font-size: 2rem;
		}
	}
}
