// Styling for header section

.navbar {
	&__container {
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding: 2rem 5rem;
		margin: 0 auto;
		position: fixed;
		background-color: white;
		z-index: 3;
	}

	&__logo {
		font-size: 2rem;
		background: $gradient;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	&__menu {
		display: none;
	}

	.material-symbols-outlined {
		font-size: 3rem;
		color: black;
	}
}
