// Styling for hero section

.hero {
	background-color: whitesmoke;

	&__container {
		height: 100vh;
		width: 100%;
		@include flexCenterXY;
		background-image: url("../images/abstract--white.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	&__content {
		@include flexCenterXY;
		color: $dark-color;
	}

	&__description {
		font-size: 1.5rem;
		color: $dark-color;
	}

	&__heading span {
		background: $gradient;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	@media screen and (max-width: 650px) {
		&__container {
			padding: 0rem 5rem;
		}

		&__heading span {
			font-size: 3.5rem;
		}
	}
}
