.hero {
	&__container {
		height: 90vh;
		width: 100%;
		@include gridCenter;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		margin: 0 auto;
		padding: 0 5vw;
		max-width: 1200px;
	}

	&__left {
		@include flexCenter;
		flex-direction: column;
		width: 100%;
	}

	&__img {
		height: 90vh;
		width: 100%;
	}

	&__description {
		font-size: 1.5rem;
	}

	&__heading span {
		background: $gradient;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
