// Styling for projects section

.projects {
	height: 80vh;
	background-color: $light-color;
	@media screen and (max-width: 768px) {
		height: 150vh;
	}

	&__cards {
		height: 80vh;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 50% 50%;
		position: relative;
	}

	&__card__topleft {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		@include flexCenter;
		position: relative;
	}

	.question__mark {
		font-size: 7rem;
	}

	&__card__topright {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
		position: relative;
	}

	&__card__topright > img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}

	&__card__bottomleft {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
		position: relative;
	}

	&__card__bottomleft > img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}

	&__card__bottomright {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
		@include flexCenter;
		position: relative;
	}

	.question__mark {
		font-size: 7rem;
	}

	&__card__center {
		@include flexCenter;
		position: absolute;
		z-index: 2;
		width: 15%;
		height: 20%;
		left: 42.5%;
		top: 40%;
		border: 1px solid black;
		box-shadow: 1px 3px 6px black;
		background-color: $light-color;
	}

	&__content__center {
		@include flexCenterXY;
	}

	&__content__center span {
		font-size: 2.5rem;
		font-weight: $fw-700;
		background: $gradient;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	&__inner {
		color: $dark-color;
		background-color: $light-color;
		position: absolute;
		z-index: 1;
		opacity: 0;
		height: 100%;
		width: 100%;
		overflow: hidden;
		@include flexCenter;
		@include flexColumn;
		font-size: 2rem;
	}

	&__inner:hover {
		opacity: 0.95;
		transition: 0.3s ease-in;
	}

	&__inner__btn {
		@include primary-btn;
		text-decoration: none;
		font-size: 1rem;
	}

	&__inner__btn:hover {
		color: $light-color;
		background-color: $dark-color;
		transition: 0.3s ease-in-out;
	}

	@media screen and (max-width: 1055px) {
		&__inner__btn {
			padding: 1rem;
		}
	}

	@media screen and (max-width: 900px) {
		&__card__center {
			height: 15%;
			top: 42.5%;
		}
		&__content__center span {
			font-size: 2rem;
		}

		&__inner h2 {
			font-size: 1.5rem;
		}

		&__inner h3 {
			font-size: 1.2rem;
		}

		&__inner__icons {
			height: 75px;
			display: flex;
			justify-content: center;
		}
	}

	@media screen and (max-width: 768px) {
		&__cards {
			height: 150vh;
			@include flexCenterXY;
			justify-content: space-around;
			width: 100%;
		}

		&__card__topleft {
			display: none;
		}

		&__card__topright {
			height: 40%;
			width: 100vw;
		}

		&__card__bottomleft {
			height: 40%;
			width: 100vw;
		}

		&__card__bottomright {
			display: none;
		}

		&__card__center {
			position: static;
			width: 100%;
			display: flex;
			border: none;
			box-shadow: none;
		}

		&__card__center span {
			padding-left: 0.5rem;
		}

		&__content__center {
			@include flexCenter;
			flex-direction: row;
		}

		&__inner {
			opacity: 0.9;
		}
	}
}
