.skills {
	background-color: $dark-color;
	color: $light-color;

	&__cards {
		height: 100vh;
		display: grid;
		grid-template-columns: 1fr 30% repeat(7, 1fr);
		grid-template-rows: repeat(6, 1fr);
		gap: 1rem;
	}

	&__card {
		background-color: $light-color;
		color: $dark-color;
		@include flexCenter;
		@include flexColumn;
		box-shadow: 5px 5px 20px 1px black;
	}

	&__card:hover {
		transform: scale(1.05);
	}

	&__card__description {
		grid-column: 2 / 3;
		grid-row: 3 / 5;
		@include flexColumn;
		align-items: center;
		justify-content: space-evenly;
	}

	&__heading {
		font-size: 3.5rem;
	}

	&__heading span {
		color: $accent-color;
	}

	&__para {
		font-size: 1.3rem;
	}

	&__card__html {
		grid-column: 3 / 6;
		grid-row: 2 / 4;
	}
	&__card__css {
		grid-column: 6 / 9;
		grid-row: 2 / 4;
	}
	&__card__sass {
		grid-column: 3 / 6;
		grid-row: 4 / 6;
	}
	&__card__js {
		grid-column: 6 / 9;
		grid-row: 4 / 6;
	}

	&__cards__heading {
		font-size: 2rem;
	}

	&__cards__items {
		list-style-image: url("../images/check-solid.svg");
	}
}
