/* Variables */

$primary-color: #151c36;
$accent-color: #dd491c;
$light-color: #e4e8e3;

$fw-400: 400;
$fw-600: 600;
$fw-700: 700;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Roboto Mono", monospace;
}

body {
	background: $primary-color;
	color: $light-color;
}

.navbar {
	display: flex;

	&__container {
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding: 2rem 5rem;
	}

	&__logo {
		background: linear-gradient(#ff8232, #dd491c);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	&__menu {
		display: none;
	}
}

.hero {
	&__container {
		height: 90vh;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		align-items: center;
		justify-items: center;
		margin: 0 auto;
		max-width: 1200px;
		width: 100%;
	}

	&__container--img {
		z-index: 1;
		height: 600px;
		width: 600px;
	}

	&__container--heading {
		font-size: 2rem;
	}

	&__container--description {
		font-size: 1.5rem;
	}

	&__container--heading span {
		background: linear-gradient(#ff8232, #dd491c);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
